body {
  background-image: url("classroom.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}

body:before {
  content: '';
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: url("character.png");
  background-repeat: no-repeat;
  background-position: center 120px;
}

#text-window {
  position: fixed;
  left: 60px;
  right: 60px;
  bottom: 40px;
  height: 140px;

  padding: 30px;
  padding-left: 230px;

  color: #fff;
  text-shadow: 2px 2px 0 #000;
  background-color: rgba(0, 0, 0, 0.5);

  background-image: url("character.png");
  background-repeat: no-repeat;

  font-family: 'Noto Serif JP', serif;
  font-size: 24px;
  letter-spacing: 1px;
  border-radius: 8px;
}

#text-window:before {
  color: #0FF;
  content: "Kouhai-chan";
  font-weight: bold;
  display: block;
}

button {
  background: #48F;
  cursor: pointer;
  right: 100px;
  bottom: 20px;
  border: none;
}

button:focus, button:hover { background: #6AF; }

a {
  background: #444;
  right: 30px;
  top: 30px;
  text-decoration: none;
}

a:focus, a:hover { background: #666; }

a, button {
  font-family: 'Noto Serif JP', serif;

  position: fixed;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  border-radius: 8px;
}
